In [77]:
import pandas as pd
import csv
from io import BytesIO

%gcs read -o "gs://jmp960-bucket/accommodation.csv" -v accommodation
df = pd.read_csv(BytesIO(accommodation), sep = ',')
df.head()

   1      Comfy Quiet Chalet Vancouver    50   3  3.1  cottage
0  2           Cozy Calm Hut    London    65   2  4.1  cottage
1  3     Agreable Calm Place    London    65   4  4.8    house
2  4  Colossal Quiet Chateau     Paris  3400  16  2.7   castle
3  5        Homy Quiet Shack     Paris    50   1  1.1  cottage
4  6    Pleasant Quiet Place    Dublin    35   5  4.3    house